<h1 align="center"> Dream IPL team Data Pre Processing </h1>

**OBJECTIVE**

This project is about determining the best 11 players that can maximize the chances of winning the tournament based on analysis of data from the T20 world cup 2022/23 held in November 2022. BeautifulSoup library in Python was used to scrap the data from ESPN website. Data was further cleaned and preprocessed using various libraries in python and finally an interactive dashboard was built using PowerBI. The dashboard helps in 360 degree analysis of performance, potential and recent form of players to help shape the dream team driven by data.

In [ ]:
#libraires required 
import pandas as pd
import json

**1.Match Results Preprocessing**

**1.1 Reading the Data**

In [4]:
df_matches=pd.read_csv('C:/Users/SKS/Desktop/IPL project/match_info.csv')
df_matches.head()

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [7]:
df_matches.shape

(45, 7)

**1.2 Renaming Columns**

In [9]:
df_matches.rename({'scorecard':'match_id','Match Date':'MatchDate'}, axis=1, inplace=True)
df_matches.head()

,Team 1,Team 2,Winner,Margin,Ground,MatchDate,Scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [82]:
df_matches.to_csv('C:/Users/SKS/Desktop/IPL project/dim_match_info.csv',index=False)

**2. Processing Batting Summary**

**2.1 Reading the data**

In [10]:
df_batting=pd.read_csv('C:/Users/SKS/Desktop/IPL project/batting_uncleaned.csv')
df_batting.head()

,BATTING,Unnamed: 1,R,B,M,4s,6s,SR,battingPos,match_id
0,Michael van Lingen,c Pramod Madushan b Chameera,3,6,7,0,0,50.00,1,T20I # 1823
1,Divan la Cock,c Shanaka b Pramod Madushan,9,9,15,1,0,100.00,2,T20I # 1823
2,Jan Nicol Loftie-Eaton,c †Mendis b Karunaratne,20,12,18,1,2,166.66,3,T20I # 1823
3,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,49,2,0,108.33,4,T20I # 1823
4,Gerhard Erasmus (c),c Gunathilaka b PWH de Silva,20,24,30,0,0,83.33,5,T20I # 1823

**2.2 Categorizing out/notout and renaming columns**

In [24]:
df_batting['out/not_out']=df_batting['Unnamed: 1'].apply(lambda x: 'not_out' if x=='not out' else 'out')
df_batting['out/not_out'].value_counts()

out        555
not_out    144
Name: out/not_out, dtype: int64

In [25]:
df_batting.drop(columns=['Unnamed: 1','M'], inplace=True)

In [29]:
df_batting.rename({'R':'runs','B':'balls','BATTING':'batsmanName'}, axis=1, inplace=True)
df_batting.head()

,batsmanName,runs,balls,4s,6s,SR,battingPos,match_id,out/not_out
0,Michael van Lingen,3,6,0,0,50.00,1,T20I # 1823,out
1,Divan la Cock,9,9,1,0,100.00,2,T20I # 1823,out
2,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,3,T20I # 1823,out
3,Stephan Baard,26,24,2,0,108.33,4,T20I # 1823,out
4,Gerhard Erasmus (c),20,24,0,0,83.33,5,T20I # 1823,out

**2.3 Cleanup weird characters**

In [30]:
df_batting['batsmanName'].unique()

array(['Michael van Lingen', 'Divan la Cock', 'Jan Nicol Loftie-Eaton',
       'Stephan Baard', 'Gerhard Erasmus\xa0(c)', 'Jan Frylinck',
       'David Wiese', 'JJ Smit', 'Pathum Nissanka', 'Kusal Mendis\xa0†',
       'Dhananjaya de Silva', 'Danushka Gunathilaka', 'Bhanuka Rajapaksa',
       'Dasun Shanaka\xa0(c)', 'Wanindu Hasaranga de Silva',
       'Chamika Karunaratne', 'Pramod Madushan', 'Dushmantha Chameera',
       'Maheesh Theekshana', 'Chirag Suri', 'Muhammad Waseem',
       'Kashif Daud', 'Vriitya Aravind\xa0†', 'Zawar Farid',
       'Basil Hameed', 'Chundangapoyil Rizwan\xa0(c)', 'Aayan Afzal Khan',
       'Karthik Meiyappan', 'Junaid Siddique', 'Vikramjit Singh',
       "Max O'Dowd", 'Bas de Leede', 'Colin Ackermann', 'Tom Cooper',
       'Scott Edwards\xa0(c)†', 'Roelof van der Merwe', 'Tim Pringle',
       'Logan van Beek', 'George Munsey', 'Michael Jones',
       'Matthew Cross\xa0†', 'Richie Berrington\xa0(c)', 'Calum MacLeod',
       'Michael Leask', 'Chris Greaves', 'Kyle Mayers', 'Evin Lewis',
       'Brandon King', 'Nicholas Pooran\xa0(c)†', 'Shamarh Brooks',
       'Rovman Powell', 'Jason Holder', 'Akeal Hosein', 'Alzarri Joseph',
       'Odean Smith', 'Obed McCoy', 'Regis Chakabva\xa0†',
       'Craig Ervine\xa0(c)', 'Wessly Madhevere', 'Sean Williams',
       'Sikandar Raza', 'Milton Shumba', 'Ryan Burl', 'Luke Jongwe',
       'Paul Stirling', 'Andy Balbirnie\xa0(c)', 'Lorcan Tucker\xa0†',
       'Harry Tector', 'Curtis Campher', 'George Dockrell',
       'Gareth Delany', 'Mark Adair', 'Simi Singh', 'Barry McCarthy',
       'Josh Little', 'Charith Asalanka', 'Aryan Lakra', 'Zahoor Khan',
       'Johnson Charles', 'Regis Chakabva\xa0(c)†', 'Tony Munyonga',
       'Richard Ngarava', 'Tendai Chatara', 'Blessing Muzarabani',
       'Timm van der Gugten', 'Fred Klaassen', 'Paul van Meekeren',
       'Alishan Sharafu', 'Zane Green\xa0†', 'Ruben Trumpelmann',
       'Bernard Scholtz', 'Josh Davey', 'Finn Allen', 'Devon Conway\xa0†',
       'Kane Williamson\xa0(c)', 'Glenn Phillips', 'James Neesham',
       'David Warner', 'Aaron Finch\xa0(c)', 'Mitchell Marsh',
       'Glenn Maxwell', 'Marcus Stoinis', 'Tim David',
       'Matthew Wade\xa0†', 'Pat Cummins', 'Mitchell Starc', 'Adam Zampa',
       'Josh Hazlewood', 'Hazratullah Zazai', 'Rahmanullah Gurbaz\xa0†',
       'Ibrahim Zadran', 'Usman Ghani', 'Najibullah Zadran',
       'Mohammad Nabi\xa0(c)', 'Azmatullah Omarzai', 'Rashid Khan',
       'Mujeeb Ur Rahman', 'Fareed Ahmad', 'Fazalhaq Farooqi',
       'Jos Buttler\xa0(c)†', 'Alex Hales', 'Dawid Malan', 'Ben Stokes',
       'Liam Livingstone', 'Harry Brook', 'Moeen Ali',
       'Mohammad Rizwan\xa0†', 'Babar Azam\xa0(c)', 'Shan Masood',
       'Iftikhar Ahmed', 'Shadab Khan', 'Haider Ali', 'Mohammad Nawaz',
       'Asif Ali', 'Shaheen Shah Afridi', 'Haris Rauf', 'KL Rahul',
       'Rohit Sharma\xa0(c)', 'Virat Kohli', 'Suryakumar Yadav',
       'Axar Patel', 'Hardik Pandya', 'Dinesh Karthik\xa0†',
       'Ravichandran Ashwin', 'Najmul Hossain Shanto', 'Soumya Sarkar',
       'Litton Das', 'Shakib Al Hasan\xa0(c)', 'Afif Hossain',
       'Yasir Ali', 'Nurul Hasan\xa0†', 'Mosaddek Hossain',
       'Taskin Ahmed', 'Hasan Mahmud', 'Shariz Ahmad',
       'Quinton de Kock\xa0†', 'Temba Bavuma\xa0(c)', 'Fionn Hand',
       'Rilee Rossouw', 'Tristan Stubbs', 'Aiden Markram', 'David Miller',
       'Wayne Parnell', 'Mehidy Hasan Miraz', 'Mustafizur Rahman',
       'Brad Evans', 'Mohammad Wasim', 'Daryl Mitchell',
       'Mitchell Santner', 'Ish Sodhi', 'Tim Southee', 'Kasun Rajitha',
       'Lahiru Kumara', 'Stephan Myburgh', 'Fakhar Zaman', 'Deepak Hooda',
       'Bhuvneshwar Kumar', 'Mohammed Shami', 'Arshdeep Singh',
       'Gulbadin Naib', 'Sam Curran', 'Mohammad Haris', 'Naseem Shah',
       'Heinrich Klaasen', 'Kagiso Rabada', 'Anrich Nortje',
       'Lungi Ngidi', 'Tabraiz Shamsi', 'Cameron Green', 'Steven Smith',
       'Matthew Wade\xa0(c)†', 'Kane Richardson', 'Darwish Rasooli',
       'Naveen-ul-Haq', 'Chris Woakes', 'Keshav Maharaj', 'Nasum Ahmed',
       'Rishabh Pant\xa0†', 'Wellington Masakadza', 'Phil Salt'],
      dtype=object)

In [40]:
df_batting['batsmanName']=df_batting['batsmanName'].apply(lambda x: x.replace('â€',''))
df_batting['batsmanName']=df_batting['batsmanName'].apply(lambda x: x.replace('\xa0',''))
df_batting['batsmanName']=df_batting['batsmanName'].apply(lambda x: x.replace('†',''))
df_batting['batsmanName']=df_batting['batsmanName'].apply(lambda x: x.replace('(c)',''))

In [ ]:
df_player=pd.read_csv('C:/Users/SKS/Desktop/IPL project/player_info.csv')

**2.4 Creating a teams dictionary that maps player name to country which they represent. This will be useful later on to link with other tables**

In [67]:
player_dict=dict([(i,j) for i,j in zip(df_player.name,df_player.team)])
player_dict

{'Matthew Wade': 'Australia',
 'Taskin Ahmed': 'Bangladesh',
 'Nurul Hasan': 'Bangladesh',
 'Mosaddek Hossain': 'Bangladesh',
 'Colin Ackermann': 'Netherlands',
 'Chris Jordan': 'England',
 'Calum MacLeod': 'Scotland',
 'Tom Cooper': 'Netherlands',
 'Pat Cummins': 'Australia',
 'Adil Rashid': 'England',
 'Aaron Finch': 'Australia',
 'Wessly Madhevere': 'Zimbabwe',
 'Luke Jongwe': 'Zimbabwe',
 'Sikandar Raza': 'Zimbabwe',
 'Blessing Muzarabani': 'Zimbabwe',
 'Brad Evans': 'Zimbabwe',
 'Tony Munyonga': 'Zimbabwe',
 'Regis Chakabva': 'Zimbabwe',
 'Tendai Chatara': 'Zimbabwe',
 'Alzarri Joseph': 'West Indies',
 'Rovman Powell': 'West Indies',
 'Jason Holder': 'West Indies',
 'Johnson Charles': 'West Indies',
 'Odean Smith': 'West Indies',
 'Brandon King': 'West Indies',
 'Shamarh Brooks': 'West Indies',
 'Vriitya Aravind': 'United Arab Emirates',
 'Chirag Suri': 'United Arab Emirates',
 'Zawar Farid': 'United Arab Emirates',
 'Zahoor Khan': 'United Arab Emirates',
 'Kashif Daud': 'United Arab Emirates',
 'Junaid Siddique': 'United Arab Emirates',
 'Fahad Nawaz': 'United Arab Emirates',
 'Muhammad Waseem': 'United Arab Emirates',
 'Basil Hameed': 'United Arab Emirates',
 'Karthik Meiyappan': 'United Arab Emirates',
 'Aayan Afzal Khan': 'United Arab Emirates',
 'Chundangapoyil Rizwan': 'United Arab Emirates',
 'Alishan Sharafu': 'United Arab Emirates',
 'Ahmed Raza': 'United Arab Emirates',
 'Dhananjaya de Silva': 'Sri Lanka',
 'Dasun Shanaka': 'Sri Lanka',
 'Kusal Mendis': 'Sri Lanka',
 'Binura Fernando': 'Sri Lanka',
 'Dushmantha Chameera': 'Sri Lanka',
 'Pathum Nissanka': 'Sri Lanka',
 'Ashen Bandara': 'Sri Lanka',
 'Pramod Madushan': 'Sri Lanka',
 'Kasun Rajitha': 'Sri Lanka',
 'Wanindu Hasaranga de Silva': 'Sri Lanka',
 'Chamika Karunaratne': 'Sri Lanka',
 'Maheesh Theekshana': 'Sri Lanka',
 'Anrich Nortje': 'South Africa',
 'Heinrich Klaasen': 'South Africa',
 'Tristan Stubbs': 'South Africa',
 'Temba Bavuma': 'South Africa',
 'Tabraiz Shamsi': 'South Africa',
 'Lungi Ngidi': 'South Africa',
 'Keshav Maharaj': 'South Africa',
 'Aiden Markram': 'South Africa',
 'Brad Wheal': 'Scotland',
 'Matthew Cross': 'Scotland',
 'Richie Berrington': 'Scotland',
 'Michael Leask': 'Scotland',
 'Josh Davey': 'Scotland',
 'Chris Greaves': 'Scotland',
 'Michael Jones': 'Scotland',
 'Safyaan Sharif': 'Scotland',
 'Naseem Shah': 'Pakistan',
 'Babar Azam': 'Pakistan',
 'Haris Rauf': 'Pakistan',
 'Mohammad Rizwan': 'Pakistan',
 'Iftikhar Ahmed': 'Pakistan',
 'Mohammad Wasim': 'Pakistan',
 'Mohammad Haris': 'Pakistan',
 'Shadab Khan': 'Pakistan',
 'Asif Ali': 'Pakistan',
 'Haider Ali': 'Pakistan',
 'Martin Guptill': 'New Zealand',
 'Adam Milne': 'New Zealand',
 'Finn Allen': 'New Zealand',
 'Ish Sodhi': 'New Zealand',
 'Trent Boult': 'New Zealand',
 'Kane Williamson': 'New Zealand',
 'Glenn Phillips': 'New Zealand',
 'Tim Southee': 'New Zealand',
 'Roelof van der Merwe': 'Netherlands',
 'Logan van Beek': 'Netherlands',
 "Max O'Dowd": 'Netherlands',
 'Timm van der Gugten': 'Netherlands',
 'Fred Klaassen': 'Netherlands',
 'Tim Pringle': 'Netherlands',
 'Bas de Leede': 'Netherlands',
 'Scott Edwards': 'Netherlands',
 'Paul van Meekeren': 'Netherlands',
 'Brandon Glover': 'Netherlands',
 'Stephan Baard': 'Namibia',
 'Ben Shikongo': 'Namibia',
 'Bernard Scholtz': 'Namibia',
 'JJ Smit': 'Namibia',
 'Ruben Trumpelmann': 'Namibia',
 'David Wiese': 'Namibia',
 'Gerhard Erasmus': 'Namibia',
 'Divan la Cock': 'Namibia',
 'Barry McCarthy': 'Ireland',
 'Harry Tector': 'Ireland',
 'Simi Singh': 'Ireland',
 'Josh Little': 'Ireland',
 'Gareth Delany': 'Ireland',
 'Lorcan Tucker': 'Ireland',
 'Curtis Campher': 'Ireland',
 'George Dockrell': 'Ireland',
 'Andy Balbirnie': 'Ireland',
 'Mark Adair': 'Ireland',
 'Fionn Hand': 'Ireland',
 'Conor Olphert': 'Ireland',
 'Paul Stirling': 'Ireland',
 'Dinesh Karthik': 'India',
 'KL Rahul': 'India',
 'Virat Kohli': 'India',
 'Hardik Pandya': 'India',
 'Suryakumar Yadav': 'India',
 'Deepak Hooda': 'India',
 'Rohit Sharma': 'India',
 'Bhuvneshwar Kumar': 'India',
 'Mohammed Shami': 'India',
 'Ravichandran Ashwin': 'India',
 'Chris Woakes': 'England',
 'Harry Brook': 'England',
 'Alex Hales': 'England',
 'Mark Wood': 'England',
 'Phil Salt': 'England',
 'Jos Buttler': 'England',
 'Liam Livingstone': 'England',
 'Tymal Mills': 'England',
 'Hasan Mahmud': 'Bangladesh',
 'Litton Das': 'Bangladesh',
 'Ebadot Hossain': 'Bangladesh',
 'Glenn Maxwell': 'Australia',
 'Steven Smith': 'Australia',
 'Kane Richardson': 'Australia',
 'Tim David': 'Australia',
 'Marcus Stoinis': 'Australia',
 'Cameron Green': 'Australia',
 'Mitchell Marsh': 'Australia',
 'Adam Zampa': 'Australia',
 'Mohammad Nabi': 'Afghanistan',
 'Naveen-ul-Haq': 'Afghanistan',
 'Mujeeb Ur Rahman': 'Afghanistan',
 'Azmatullah Omarzai': 'Afghanistan',
 'Darwish Rasooli': 'Afghanistan',
 'Gulbadin Naib': 'Afghanistan',
 'Rahmanullah Gurbaz': 'Afghanistan',
 'Rashid Khan': 'Afghanistan',
 'Fazalhaq Farooqi': 'Afghanistan',
 'Usman Ghani': 'Afghanistan',
 'Qais Ahmad': 'Afghanistan',
 'Ibrahim Zadran': 'Afghanistan',
 'Mohammad Saleem': 'Afghanistan',
 'Yasir Ali': 'Bangladesh',
 'Wayne Parnell': 'South Africa',
 'Daryl Mitchell': 'New Zealand',
 'Moeen Ali': 'England',
 'Mehidy Hasan Miraz': 'Bangladesh',
 'Lockie Ferguson': 'New Zealand',
 'David Warner': 'Australia',
 'Dawid Malan': 'England',
 'Afif Hossain': 'Bangladesh',
 'Wellington Masakadza': 'Zimbabwe',
 'Ryan Burl': 'Zimbabwe',
 'Craig Ervine': 'Zimbabwe',
 'Sean Williams': 'Zimbabwe',
 'Richard Ngarava': 'Zimbabwe',
 'Milton Shumba': 'Zimbabwe',
 'Akeal Hosein': 'West Indies',
 'Nicholas Pooran': 'West Indies',
 'Obed McCoy': 'West Indies',
 'Kyle Mayers': 'West Indies',
 'Evin Lewis': 'West Indies',
 'Aryan Lakra': 'United Arab Emirates',
 'Danushka Gunathilaka': 'Sri Lanka',
 'Charith Asalanka': 'Sri Lanka',
 'Bhanuka Rajapaksa': 'Sri Lanka',
 'Lahiru Kumara': 'Sri Lanka',
 'Kagiso Rabada': 'South Africa',
 'Quinton de Kock': 'South Africa',
 'David Miller': 'South Africa',
 'Rilee Rossouw': 'South Africa',
 'Mark Watt': 'Scotland',
 'George Munsey': 'Scotland',
 'Shan Masood': 'Pakistan',
 'Shaheen Shah Afridi': 'Pakistan',
 'Fakhar Zaman': 'Pakistan',
 'Mohammad Nawaz': 'Pakistan',
 'Michael Bracewell': 'New Zealand',
 'Mitchell Santner': 'New Zealand',
 'James Neesham': 'New Zealand',
 'Devon Conway': 'New Zealand',
 'Mark Chapman': 'New Zealand',
 'Stephan Myburgh': 'Netherlands',
 'Shariz Ahmad': 'Netherlands',
 'Vikramjit Singh': 'Netherlands',
 'Michael van Lingen': 'Namibia',
 'Jan Frylinck': 'Namibia',
 'Jan Nicol Loftie-Eaton': 'Namibia',
 'Zane Green': 'Namibia',
 'Graham Hume': 'Ireland',
 'Arshdeep Singh': 'India',
 'Axar Patel': 'India',
 'Rishabh Pant': 'India',
 'Ben Stokes': 'England',
 'Sam Curran': 'England',
 'David Willey': 'England',
 'Shakib Al Hasan': 'Bangladesh',
 'Mustafizur Rahman': 'Bangladesh',
 'Shoriful Islam': 'Bangladesh',
 'Nasum Ahmed': 'Bangladesh',
 'Najmul Hossain Shanto': 'Bangladesh',
 'Soumya Sarkar': 'Bangladesh',
 'Mitchell Starc': 'Australia',
 'Ashton Agar': 'Australia',
 'Josh Hazlewood': 'Australia',
 'Hazratullah Zazai': 'Afghanistan',
 'Najibullah Zadran': 'Afghanistan',
 'Fareed Ahmad': 'Afghanistan'}

In [69]:
df_batting['team']=df_batting['batsmanName'].map(player_dict)

In [79]:
df_batting.to_csv('C:/Users/SKS/Desktop/IPL project/batting_cleaned.csv',index=False)

**3. Processing Bowling Summary**

**3.1 Reading Data**

In [83]:
df_bowling=pd.read_csv('C:/Users/SKS/Desktop/IPL project/bowling_uncleaned.csv')

**3.2 Renaming Columns**

In [85]:
df_bowling.rename({'O':'overs','M':'maiden','R':'runs','W':'wickets','ECON':'economy','WD':'wide','NB':'noBalls','BOWLING':'bowlerName'}, axis=1, inplace=True)

**3.3 Mapping**

In [89]:
df_bowling['team']=df_bowling['bowlerName'].map(player_dict)

In [99]:
df_bowling.head()

,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wide,noBalls,match_id,team
0,Maheesh Theekshana,4.0,0,23,1,5.75,7,0,0,2,0,T20I # 1823,Sri Lanka
1,Dushmantha Chameera,4.0,0,39,1,9.75,6,3,1,2,0,T20I # 1823,Sri Lanka
2,Pramod Madushan,4.0,0,37,2,9.25,6,3,1,0,0,T20I # 1823,Sri Lanka
3,Chamika Karunaratne,4.0,0,36,1,9.00,7,3,1,1,0,T20I # 1823,Sri Lanka
4,Wanindu Hasaranga de Silva,4.0,0,27,1,6.75,8,1,1,0,0,T20I # 1823,Sri Lanka

In [95]:
df_bowling.to_csv('C:/Users/SKS/Desktop/IPL project/bowling_cleaned.csv',index=False)